@model LibraryMS.ViewModel.AssetIndexModel
@{
    ViewBag.Title = "Library Catalog Index";
}
<div id="assests">
    <h3> Library Catalog</h3>
    <div id="assests-table">
        <table class="table table-condensed" id="CatalogIndexTable">
            <thead>
                <tr>
                    <th> Image </th>
                    <th> Title </th>
                    <th> Author / Director </th>
                    <th> Dewey call number </th>
                    
                </tr>

            </thead>
            <tbody >
                @foreach (var asset in Model.Assets)
	{
                <tr class="assetRow">
                    
                    <td class="assetData">
                        <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@asset.Id"> Check details</a>
                        <img src="@asset.ImageUrl" class="imageCell" />
                    </td>
                    <td class="">@asset.Title</td>
                    <td class="">@asset.AuthorOrDirector</td>
                    <td class="">@asset.DeweyCallNumbers</td>

                </tr>
		 
	}
            </tbody>

        </table>
    </div>

</div>